.title {
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.skills {
  font-family: 'Poppins', sans-serif;
}

.courses__content {
  display: flex;
}

.link__course {
  color: rgb(80, 80, 80);
  font-weight: 500;
  margin-bottom: 10px;
}

.link__course:hover {
  color: rgb(0, 0, 0);
}

.img-fluid {
  border-radius: 20px;
  background-color: rgb(0, 0, 0 / 70%);
  backdrop-filter: saturate() blur(10px);
  box-shadow: 0px 0px 25px rgb(0 0 0 / 18%);
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.skills .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
}

.skills .progress-bar-wrap {
  background: #e8edf5;
  height: 10px;
  border-radius: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #000000;
  border-radius: 10px;
}

.skills .info p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
}

.skills .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills .info label {
  padding-right: 10px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.01rem;
}

.skills .social-icons {
  display: flex;
  justify-content: center;
}

.skills .social-icons a {
  margin: 0 0.5rem;
}

.skills .social-icons a:hover {
  color: white;
}

.skills .title-skills {
  margin: 25px 0px 10px 0;
}

@media only screen and (max-width: 795px) {
  .img-fluid {
    border-radius: 50%;
    width: 50%;
  }

  .skills .img-about {
    justify-content: center;
  }

  .skills p,
  h3 {
    text-align: center !important;
  }

  .skills .title-skills {
    margin: 60px 0;
  }

  .courses__content {
    display: flex;
    flex-direction: column;
  }
}
