.navbar {
  border: 1px solid rgb(0 0 0 / 12%);
  background-color: rgb(232 235 236 / 70%);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0px 0px 25px rgb(0 0 0 / 18%);
}

.navbar-brand {
  margin: 0 !important;
}

.header .navbar-brand {
  font-size: 32px;
  color: rgb(0, 0, 0);
  padding: 0;
}

.nav-item .active {
  color: rgb(0, 0, 0) !important;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.navbar-nav .nav-link {
  color: #757575 !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease;
}

.navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0) !important;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.navbar-nav .nav-item {
  margin: 0 1.2rem;
}

.nav_ux {
  display: none;
}

@media only screen and (max-width: 995px) {
  .nav_ux {
    position: fixed;
    bottom: 8px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 122;
  }

  .nav__block_ux {
    display: flex;
    width: 95%;
    height: 65px;
    border-radius: 20px;
    border: 1px solid rgb(0 0 0 / 12%);
    background-color: rgb(232 235 236 / 70%);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px 0px 25px rgb(0 0 0 / 18%);
  }

  .nav_ux li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
  }

  .nav_ux .icon:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.151);
  }

  .navbar > .container {
    display: flex !important;
    justify-content: center !important;
  }
}
