@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: none !important;
  text-decoration: none !important;
}

body {
  background-color: rgb(205, 205, 205) !important;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

.icon {
  font-size: 27px !important;
  color: black !important;
}

section .title {
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid rgba(170, 170, 170, 0.781);
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}
